<div *ngIf="conversion; else erreurTemplate" class="container-fluid" style="margin-top: 120px;">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h2 class="card-title text-center">Détails de la Conversion</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Base :</strong> <span class="text-primary">{{ conversion.base }}</span>
        </li>
        <li class="list-group-item">
          <strong>Cible :</strong> <span class="text-success">{{ conversion.cible }}</span>
        </li>
        <li class="list-group-item">
          <strong>Montant Base :</strong> <span class="text-info">{{ conversion.montantBase }}</span>
        </li>
        <li class="list-group-item">
          <strong>Montant Converti :</strong> <span class="text-warning">{{ conversion.montantConverti }}&nbsp;{{conversion.cible}}</span>
        </li>
        <li class="list-group-item">
          <strong>Date :</strong> <span class="text-secondary">{{ conversion.date | date: 'dd/MM/yyyy' }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #erreurTemplate>
  <div class="alert alert-danger mt-5 text-center" role="alert">
    <h4 class="alert-heading">Erreur</h4>
    <p>{{ errorMessage }}</p>
    <button class="btn btn-danger" routerLink="/convertir">Retour à l'accueil</button>
  </div>
</ng-template>
